/* responsiveness for the services section bit */
@media(max-width: 1150px) {
    .sec-topic {
        font-size: 27px;
    }
}

@media (max-width: 1100px) {
    .sec-cont {
        padding: 40px 50px;
    }

    .sec-topic {
        font-size: 30px;
    }
}

@media(min-width: 1101px) {
    .extra-title h4{
        max-width: 80%;
    }
}

@media (max-width: 960px) {
    .extra-title h4{
        max-width: 70%;
    }
}

@media (max-width: 940px) {
    .sec-cont {
        padding: 30px 30px;
    }

    .responsive-icon {
        font-size: 1.1rem;
        width: 30px;
        height: 30px;
    }

    .sec-card {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .extra-title h4 {
        max-width: fit-content;
    }
        
    .extras-number {
        height: 40px;
        width: 90px;
    }
}

@media (max-width: 770px) {
    .sec-cont {
        padding: 30px 20px;
    }
    .sec-container {
        display: grid;
        grid-template-columns: 1fr;
    }

    .sec-slogan{
        text-align: justify;
        padding: 0 10px;
    }
    .sec-card {
        flex-direction: row;
        align-items: flex-start;
        text-align: left;
        gap: 20px;
    }

    .responsive-icon {
        margin-bottom: 1rem;
        margin-right: 20px;
    }

    .extra-title h4{
        max-width: 67%;
    }

    .extras-number{
        height: 40px;
        width: 50px;
    }
}

@media (max-width: 550px) {
    .sec-cont {
        padding: 25px 20px;
    }

    .sec-slogan {
        font-size: 14px;
        padding: 0 10px;
    }

    .sec-topic {
        font-size: 32px;
    }

    .sec-card {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .responsive-icon {
        font-size: 20px;
        margin: -7px auto;
    }

    .extr-title h4{
        max-width: 90%;
    }

}