/* responsiveness for the services section bit */
@media (max-width: 1100px) {
  .services-container {
    padding: 20px 30px;
  }
}

@media (max-width: 920px) {
  .services-container {
    padding: 15px 20px;
  }

  .services-card {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }

}
@media (max-width: 1021px) {

}