/* responsiveness for the services section bit */
@media (max-width: 1100px) {
  .services-container {
    padding: 20px 30px;
  }
}

/* services.css */

@media (max-width: 920px) {
    .card-icon {
        font-size: 1.8rem;
        /* or use width/height if it's an image */
    }
}

@media (max-width: 850px) {
    .service-card {
        flex-direction: column;
        align-items: center;
        text-align: left;
    }

    .card-icon {
        margin-bottom: 1rem;
    }
}
