.about-container{
    background-image: url('../assets/gallery/pic1.png');
}


/* RESPONSIVENESS ABOUTSECTION */
@media (max-width: 1300px) {
    .abt-sec {
      grid-template-columns: 50% 50%;
    }
}

@media (max-width: 1105px) {
    .abt-sec {
      grid-template-columns: 1fr;
    }
    .abtsec-image{
        width: 85%;
        max-height: 450px;
        object-fit: contain;
        margin: 20px auto;
        display: block;
    }
}

@media (max-width: 620px) {
    .abtsec-image{
        width: 90%;
        height: auto;
        object-fit: cover;
        margin: 0 auto;
        display: block;
    }
}

@media (max-width: 525px) {
    .about-container h1{
        font-size: 35px;
    }
}